.cSpell.json
.cSpell.words.txt
.circleci/
.devcontainer/
.git/
.gitignore
.styleci.yml
.vscode/
build/
deploy/
scripts/
vendor/
book-keeping/.editorconfig
book-keeping/.env*
book-keeping/.eslintrc.json
book-keeping/.gitattributes
book-keeping/.gitignore
book-keeping/.phpdoc/
book-keeping/.phpunit.result.cache
book-keeping/.prettierignore
book-keeping/.prettierrc
book-keeping/docs/
book-keeping/node_modules/
book-keeping/phpstan.neon
book-keeping/phpunit.xml
book-keeping/public/build/
book-keeping/tests/
book-keeping/vendor/
