includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
    excludePaths:
        - app/Http/Controllers/Auth/AuthenticatedSessionController.php
        - app/Http/Controllers/Auth/ConfirmablePasswordController.php
        - app/Http/Controllers/Auth/EmailVerificationNotificationController.php
        - app/Http/Controllers/Auth/EmailVerificationPromptController.php
        - app/Http/Controllers/Auth/NewPasswordController.php
        - app/Http/Controllers/Auth/PasswordController.php
        - app/Http/Controllers/Auth/PasswordResetLinkController.php
        - app/Http/Controllers/Auth/RegisteredUserController.php
        - app/Http/Controllers/Auth/VerifyEmailController.php
        - app/Http/Controllers/ProfileController.php
        - app/Http/Requests/Auth/LoginRequest.php
        - app/Http/Requests/ProfileUpdateRequest.php
        - app/Models/User.php
    level: 9
