parameters:
    paths:
        - app/
    excludePaths:
        - app/Console/Kernel.php
        - app/Exceptions/Handler.php
        - app/Http/Middleware/Authenticate.php
        - app/Http/Middleware/EncryptCookies.php
        - app/Http/Middleware/PreventRequestsDuringMaintenance.php
        - app/Http/Middleware/RedirectIfAuthenticated.php
        - app/Http/Middleware/TrimStrings.php
        - app/Http/Middleware/TrustHosts.php
        - app/Http/Middleware/TrustProxies.php
        - app/Http/Middleware/ValidateSignature.php
        - app/Http/Middleware/VerifyCsrfToken.php
        - app/Http/Kernel.php
        - app/Providers/AppServiceProvider.php
        - app/Providers/AuthServiceProvider.php
        - app/Providers/BroadcastServiceProvider.php
        - app/Providers/EventServiceProvider.php
        - app/Providers/RouteServiceProvider.php
    level: 9
